---
// component imports
import PostCard from "../../components/PostCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";

// util imports
import { formatBlogPosts, slugify } from "../../js/utils";
import Pagination from "../../components/Pagination.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob("./*.md");
  const formattedPosts = formatBlogPosts(allPosts);
  return paginate(formattedPosts, {
    pageSize: 4,
  });
}

const { page } = Astro.props;
---

<MainLayout title="Burak's Blog" description="Blog of My Website">
  <div class="max-w-screen-xl px-4 py-6 mx-auto sm:px-6 lg:px-8">
    <div class="max-w-screen-xl px-4 py-4 mx-auto sm:px-6 lg:px-8">
      <div class="max-w-screen-xl px-4 pb-8 mx-auto prose sm:px-6 lg:px-8">
        <h1>Latest blog posts</h1>
      </div>
      <section
        class="grid grid-cols-1 xl:grid-cols-2 md:grid-cols-2 sm:grid-cols-1"
      >
        {
          page.data.map((post) => (
            <PostCard frontmatter={post.frontmatter} url={post.url} />
          ))
        }
      </section>
      <Pagination
        nextUrl={page.url.next}
        prevUrl={page.url.prev}
        currentPage={page.currentPage}
        lastPage={page.lastPage}
      />
    </div>
  </div>
</MainLayout>
