---
//lib imports
import { Image } from 'astro:assets'

//utils imports
import { slugify, formatDate } from "../js/utils";

const { title, date, category, author, image } = Astro.props;
---

<header class="max-w-screen-xl px-4 mx-auto prose sm:px-6 lg:px-8">
  <div class="pt-6 text-center">
    <h1 class="mb-5 dark:text-gray-200">{title}</h1>

    <p class="mx-0 mt-0 mb-5">
      <a
        class="pt-0 text-base dark:text-gray-300 text-gray-500 transition hover:text-gray-500/75 dark:hover:text-gray-200"
        href={`/author/${slugify(author)}/`}>{author}</a
      > • <span class="font-semibold text-gray-500 dark:text-gray-300"
        >{formatDate(date)}</span
      > •
      <small>
        <a
          class="text-base text-gray-500 underline transition dark:text-gray-300 hover:text-gray-500/75 dark:hover:text-gray-200"
          href={`/category/${slugify(category)}/`}>{category}</a
        >
      </small>
    </p>
  </div>
  <Image
    class="mt-10"
    src={image.src}
    alt={image.alt}
    width={1200}
    height={600}
    format="webp"
    fit="cover"
    quality={80}
  />
</header>
