---
//lib imports
import { Image } from "@astrojs/image/components";

//utils imports
import { slugify, formatDate } from "../js/utils";

const { frontmatter, url } = Astro.props;
const { title, date, author, image, description, category } = frontmatter;
---

<article
  class="mx-6 my-6 overflow-hidden transition rounded-lg shadow hover:shadow-lg"
>
  <a href={url}>
    <Image
      src={image.src}
      alt={image.alt}
      width={800}
      height={600}
      format="avif"
      fit="cover"
      quality={80}
      class="object-cover w-full h-56"
    />
  </a>

  <div class="p-4 dark:bg-neutral-700 bg-white sm:p-6">
    <a href={url}>
      <h3 class="text-lg dark:text-gray-200 text-gray-900">
        {title}
      </h3>
    </a>
    <a class="inline" href={`/author/${slugify(author)}`}>
      <small class="inline text-base dark:text-gray-200 text-gray-500">
        {author} •
      </small>
    </a>
    <time class="inline text-xs dark:text-gray-300 text-gray-500">
      {formatDate(date)}
    </time>

    <p
      class="mt-4 text-sm leading-relaxed dark:text-gray-300 text-gray-500 line-clamp-3"
    >
      {description}
    </p>
  </div>
</article>
