---
// layout imports
import MainLayout from "./MainLayout.astro";

// component imports
import PostHeader from "../components/PostHeader.astro";
import RelatedPosts from "../components/RelatedPosts.astro";

// util imports
import { formatBlogPosts } from "../js/utils.js";

const { frontmatter } = Astro.props;
const { title, description, date, category, author, image } = frontmatter;

const allPosts = await Astro.glob("../pages/blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
  sortByDate: false,
});

const relatedPosts = formattedPosts.filter(
  (post) =>
    post.frontmatter.category.toLowerCase() === category.toLowerCase() &&
    post.frontmatter.title !== title
);
---

<MainLayout
  {title}
  {description}
  image={frontmatter.image}
  {frontmatter}
  robots={frontmatter.robots}
>
  <PostHeader {title} {description} {date} {category} {author} {image} />
  <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 lg:px-8">
    <div
      class="max-w-screen-xl px-4 pb-10 mx-auto prose sm:px-6 lg:px-8 dark:text-gray-300 dark:prose-headings:text-gray-200"
    >
      <slot />
      <aside>
        {
          relatedPosts.length > 0 && (
            <aside>
              <h2 class="mt-20 text-4xl text-center">Related Posts</h2>
              <RelatedPosts {relatedPosts} />
            </aside>
          )
        }
      </aside>
    </div>
  </div>
</MainLayout>
